<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Enlaces</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <script>
        function confirmarEliminacion() {
            return confirm("¿Estás seguro de que quieres eliminar este producto?");
        }
    </script>
    
</head>
<body>
    <div class="header">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
        <h1>Gestión de productos de Amazon</h1>
        <div class="nav-buttons">
            <a href="https://clauvperlado.grafana.net/goto/fTf8hCPIg?orgId=1" target="_blank">Grafana</a>
            <a href="https://eu-central-1-1.aws.cloud2.influxdata.com" target="_blank">Influx</a>
            <a href="http://127.0.0.1:8000/docs#/default/get_json_file_json_get" target="_blank">FastAPI Docs</a>
            <a href="http://localhost:1880/#flow/23367ebca52d19af" target="_blank">Node-RED</a>
            <a href="http://localhost:6789/pipelines/amazon_tracker/triggers/1" target="_blank">Mage</a>
        </div>
    </div>
    
    <hr>

    <h2>Añadir producto</h2>
    <form method="POST" class="form-group">
        <label for="url">URL del producto:</label><br>
        <input type="text" id="url" name="url"><br>
        <input type="submit" value="Agregar">
    </form>
    {% if error %}
        <span class="error">Error: {{ error }}</span>
    {% endif %}

    <h2>Productos actualmente rastreados</h2>
    <table>
        <thead>
            <th>ID</th>
            <th>PRODUCTO</th>
            <th></th>
        </thead>
        <tbody>
            {% for enlace in enlaces %}
                <tr>
                    <td>{{ enlace.id }}</td>
                    <td><a href="{{ enlace.url }}">{{ enlace.name }}</a></td>
                    <td>
                        <a href="{{ url_for('eliminar', id=enlace.id) }}" onclick="return confirmarEliminacion()"><button class="eliminar-btn">Eliminar</button></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
