body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
h1, h2 {
    color: #333;
    padding: 0 1em 0 1em;
    margin-top: 1em;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 1em;
    border: 1px solid #ddd;
}
th {
    background-color: #4CAF50;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.error {
    color: red;
    font-weight: bold;
    padding: 0 2em 0 2em;
}
.eliminar-btn {
    background-color: #f44336; /* Rojo */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 1px;
    cursor: pointer;
}

/* Estilos para el formulario */
.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
    padding: 0 2em 0 2em;
}
.form-group input[type="text"] {
    flex-grow: 1;
    margin: 0 1em 0 0.5em;
}
.form-group input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}